<td-layout #layout>
  <td-navigation-drawer
    sidenavTitle="Stock news"
  >
    <mat-nav-list>
      <ng-template
        let-item
        let-last="last"
        ngFor
        [ngForOf]="routes"
      >
        <a
          mat-list-item
          [routerLink]="[item.route]"
          (click)="layout.close()"
        >
          <mat-icon>{{item.icon}}</mat-icon>{{item.title}}
        </a>
      </ng-template>
    </mat-nav-list>

  </td-navigation-drawer>

  <td-layout-nav
    navigationRoute="/"
  >
    <button
      mat-icon-button
      td-menu-button
      tdLayoutToggle
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div
      td-toolbar-content
      layout="row"
      layout-align="center center"
      flex
    >
      <span>Stock news</span>
      <span flex></span>
    </div>

    <router-outlet></router-outlet>

    <td-layout-footer>
      <div
        layout="row"
        layout-align="start center"
      >
        <span class="mat-caption">Copyright &copy; {{year}} Stock News. All rights reserved</span>
        <span flex></span>
      </div>
    </td-layout-footer>
  </td-layout-nav>

</td-layout>
